<div class="container mt-5">
  <button (click)="get500Error()" class="btn btn-danger mx-5">
    Test 500 Error
  </button>
  <button (click)="get404Error()" class="btn btn-danger mx-5">
    Test 404 Error
  </button>
  <button (click)="get400Error()" class="btn btn-danger mx-5">
    Test 400 Error
  </button>
  <button (click)="get400ValidationError()" class="btn btn-danger mx-5">
    Test 400 Validation Error
  </button>

  <div class="row mt-5" *ngIf="validationErrors">
    <ul class="text-danger" *ngFor="let errors of validationErrors">
      <h4>{{ errors.key }}</h4>
      <li *ngFor="let error of errors.errors">{{ error }}</li>
    </ul>
  </div>
</div>
