<div class="container">
  <div class="row">
    <section class="col-3">
      <h5 class="text-warning ms-3">Sort</h5>
      <select class="form-select mb-4" (change)="onSortSelected($event)">
        <option *ngFor="let option of sortOptions" [value]="option.value">
          {{ option.name }}
        </option>
      </select>

      <h5 class="text-warning ms-3">Brands</h5>
      <ul class="list-group my-3">
        <li
          class="list-group-item"
          *ngFor="let brand of brands"
          [ngClass]="{ active: brand.id === shopParam.brandId }"
          (click)="onBrandSelected(brand.id)"
        >
          {{ brand.name }}
        </li>
      </ul>
      <h5 class="text-warning ms-3">Types</h5>
      <ul class="list-group my-3">
        <li
          class="list-group-item"
          *ngFor="let type of types"
          [class.active]="type.id === shopParam.typeId"
          (click)="onTypeSelected(type.id)"
        >
          {{ type.name }}
        </li>
      </ul>
    </section>

    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <header>
          <span *ngIf="totalCount > 0"
            >Showing
            <strong>
              {{ (shopParam.pageNumber - 1) * shopParam.pageSize + 1 }} -
              {{
                shopParam.pageNumber * shopParam.pageSize > totalCount
                  ? totalCount
                  : shopParam.pageNumber * shopParam.pageSize
              }}
            </strong>
            of <strong>{{ totalCount }}</strong> Results
          </span>
          <span *ngIf="totalCount === 0">There are no products</span>
        </header>
        <div class="d-flex mt-2">
          <input type="text" placeholder="Search" class="form-control me-2" />
          <button class="btn btn-outline-primary mx-2">Search</button>
          <button class="btn btn-outline-success mx-2">Reset</button>
        </div>
      </div>

      <div class="row row-cols-3 g-3">
        <div class="col" *ngFor="let product of products">
          <app-product-item [product]="product" />
        </div>
      </div>

      <div class="d-flex justify-content-center mt-3" *ngIf="totalCount > 0">
        <pagination
          [boundaryLinks]="true"
          [totalItems]="totalCount"
          [maxSize]="5"
          [itemsPerPage]="shopParam.pageSize"
          (pageChanged)="onPageChanged($event)"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;"
        >
        </pagination>
      </div>
    </section>
  </div>
</div>

<!-- <ul>
  <li *ngFor="let product of products">
    {{ product.name }}
  </li>
</ul> -->
